	pip install pydicom
        pip install datetime
        pip install docxtpl
        pip install numpy
        pip install argparse
        pip install opencv-python
        pip install Pillow
        pip install tk
        pip install image-process
        pip install pylibjpeg
        pip install pylibjpeg-libjpeg